div.orbit-container
{
	height: 100%;
	width: 100%;
}
ul.orbit-ul, li.orbit-item
{
  height: 500px;
}
li.orbit-item-1
{
  background: url("../image/img_2.png") no-repeat center;
  background-size: cover;
}
li.orbit-item-2
{
  background: url("../image/img_3.png") no-repeat center;
  background-size: cover;
}
li.orbit-item-3
{
  background: url("../image/img_4.png") no-repeat center;
  background-size: cover;
}

div.index{
	height:100%;
}